saves
resourcepacks
PCL
logs
crash-reports
Create_The Zombie Apocalypse-natives
Create_The Zombie Apoclypse-natives
CreateThe ZombieApoclypse-natives
defaultconfigs
Create_The Zombie Apocalypse.json
Create_The Zombie Apocalypse.jar
schematics
Create_The Zombie Apoclypse.jar
Create_The Zombie Apoclypse.json
options.txt
shaderpacks
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
usercache.json
usernamecache.json
screenshots
tconplanner
CustomSkinLoader